---
name: CI/CD
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
jobs:
  shell-lint:
    if: >
      github.event_name == 'push' || github.event_name == 'pull_request'
    permissions:
      contents: read
    uses: dceoy/gh-actions-for-devops/.github/workflows/shell-lint.yml@main   # zizmor: ignore[unpinned-uses]
    with:
      search-path: .
  dependabot-auto-merge:
    if: >
      github.event_name == 'pull_request' && github.actor == 'dependabot[bot]'
    permissions:
      contents: write
      pull-requests: write
      actions: read
    uses: dceoy/gh-actions-for-devops/.github/workflows/dependabot-auto-merge.yml@main  # zizmor: ignore[unpinned-uses]
    with:
      unconditional: true
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
